.rocks/
.tarawasm/
dist/
**/.tarawasm/
**/dist/
**/internal/
**/wit_world/
**/__pycache__/
**/componentize_py_async_support/
**/componentize_py_runtime.pyi
**/componentize_py_types.py
**/poll_loop.py
**/*.pyc
**/server.log
rust/*/src/bindings.rs
*.xlog
*.snap
*.vylog
*.run
*.pid
